<?php
{namespace}
use Test\TestCase;

/**
 * {className} test case.
 */
class {testClassName} extends TestCase
{
    /**
     * @var {className}
     */
    protected $object;

    protected function setUp()
    {
        parent::setUp();
        // $this->object = $this->getMockBuilder('{namespaceName}\{className}')->setConstructorArgs([])->setMethods([])->getMock();
    }

    protected function tearDown()
    {
        parent::tearDown();
    }
{methods}}
