<?php
{namespace}
use {namespaceName}\{className};
use Test\TestCase;

/**
 * {className} test case.
 */
class {testClassName} extends TestCase
{
    /**
     * @var {className}
     */
    protected $subject;

    protected function setUp()
    {
        parent::setUp();
        $this->subject = new {className}();
    }
{methods}}
