<?php
{namespace}
use Test\TestCase;
use {namespaceName}\{className};

/**
 * {className} test case.
 */
class {testClassName} extends TestCase
{
    /**
     * @var {className}
     */
    protected $object;

    protected function setUp()
    {
        parent::setUp();

        //$mock = $this->getMockBuilder({className}::class)
            //->setConstructorArgs([])->setMethods(null)->getMock();

        //$this->object = $mock;
    }
{methods}}
